<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MBXAccessToken</key>
	<string>$(MAPBOX_ACCESS_TOKEN)</string>
	<key>NSMotionUsageDescription</key>
	<string>WalkTheWorld utilise le mouvement de votre téléphone pour détecter et valider vos pas en temps réel.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>WalkTheWorld utilise votre position GPS pour définir votre point de départ sur le globe.</string>
</dict>
</plist>
